.App {
  text-align: center;
  background: #0077b6;
  height: 100%;
}


.homepage {
  height: 100vmin;
 
}

.movieContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* border: 1px solid rgba(60, 58, 58, 0.783); */
  max-width: 100%;
  max-height: 95%;
  position: center;
  overflow: scroll;

}

.movieDisplay {
  margin: 20px; 
  padding: 0px;
  border: 3px solid #FFE770;
  display: flex;
  flex-direction: column;
  background: white;
  
  /* align-items: center; */
  
}

.movieDisplay img {
  height: 30vmin;
  width: auto;
}

.forumPage {
  display: flex;
  flex-direction: column;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieInfo img{
  height: 40vmin;
  width: auto;
}
/* -------- */
.threadUserName {
  text-decoration: underline;
  font-size: 20px;
}


.threadListContainer {
  display:flex; 
  flex-direction: column-reverse;
}